.header-container{
    width: 100%;
    background-color: brown;
    
    
}
.message-header{
    background-color: black;
    width: 200%;
    
}
.welcome{
    background-color: blue;
    height: 500px;
    width: 200%;
}
.footer{
    background-color: blue;
    width: 200%;
    height: 100px;

    
}
