.header-container{
    width: 100%;
    background-color: rgb(150, 41, 41);
}
.message-header{
    background-color: rgb(180, 179, 175);
    
}
.welcome{
    background-color: darkgrey;
    height: 500px;
    width: 200%;
}
.footer{
    background-color: rgb(5, 5, 31);
    width: 200%;
    height: 300px;

    
}
.menu{
    margin-left: 800px;
    background-color: rgb(14, 9, 2);
}